
@{
    ViewBag.Title = "ChangePassword";
}


<style>
    .btn {
        background-color: green;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
    }
</style>

<body>
    <div class="main">
    <div class="content">
        <div class="section group">
            <div class="col span_2_of_3">
                <div class="contact-form">
                    <h2>Thay đổi mật khẩu</h2>
                    @using (Html.BeginForm())
                    {
                        <div>
                            <span><label>Mật khẩu cũ</label></span>
                            <span><input required type="password" name="oldPassword" class="form-control" placeholder="Nhập mật khẩu cũ"></span>
                            <span>@ViewBag.error1</span>
                        </div>
                        <div>
                            <span><label>Mật khẩu mới</label></span>
                            <span><input required type="password" name="newPassword" class="form-control" placeholder="Nhập mật khẩu mới"></span>
                            <span></span>
                        </div>
                        <div>
                            <span><label>Xác nhận mật khẩu mới</label></span>
                            <span><input required type="password" name="confirmpass" class="form-control" placeholder="Nhập lại mật khẩu"></span>
                            <span>@ViewBag.error2</span>
                        </div>
                        <div>
                            <span><input type="submit" value="Lưu" class="btn"></span>
                            <span><a href="~/Home/Index"><input type="button" value="Trở lại trang chủ" class="btn" /></a></span>
                        </div>
                        <span style="color:red ;"><b>@ViewBag.error</b></span>
                    }


                </div>
            </div>
        </div>
    </div>
</div>
                    </body>
