@model IEnumerable<OnlineShop.Context.Response>

@{
    ViewBag.Title = "Index";
}



<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Danh sách phản hồi</h3>
            </div>
            <div class="card-body">
                <div id="dataTables_wrapper" class="dataTables_wrapper">
                    <table class="table">
                        <thead>
                            <tr>

                                <th>
                                    Tên
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Tên công ty
                                </th>

                                <th>
                                    Thao tác
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CompanyName)
                                    </td>
                                    <td>
                                        <a title="Xem chi tiết" class="btn btn-sm btn-outline-secondary btn-hover-success" href="~/Admin/ContactAdmin/Details/@item.Id">
                                            <i class="fas fa-fw fa-info"></i>
                                        </a>
                                        
                                        <a title="Xóa" class="btn btn-sm btn-outline-secondary btn-hover-danger" href="~/Admin/ContactAdmin/Delete/@item.Id">
                                            <i class="fas fa-fw fa-trash-alt"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

