@model OnlineShop.Context.Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/SharedAdmin/_Layout.cshtml";
}



<form class="modal-content validateForm bv-form onUpdateInputState" form asp-action="Details">
    <div class="modal-header bg-success">
        <h3 class="modal-title" id="planCreateModalTitle">Thông tin danh mục @Model.Name</h3>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="modal-body">

        <div class="row">
            <div class="col-md-6">

               
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label input-required">Ảnh</label>
                    <div class="col-sm-8">
                        @{
                            string ImagePath = "~/Content/images/" + Model.Avatar;
                        }
                        <img src="@Url.Content(ImagePath)" width="300" class="img-thumbnail" />
                    </div>
                </div>

            </div>
            <!--./col-->
            <!-- Col -->
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label input-required">Tên</label>
                    <div class="col-sm-8">
                        @Html.DisplayFor(model => model.Name)
                    </div>
                </div>
                
            </div>
            <!--./col-->
        </div>
        <!--./row-->
    </div>
    <div>

    </div>
    <div class="modal-footer">

        @Html.ActionLink("Trở lại danh sách", "Index")
        <a class="btn btn-outline-info quickUpdate" href="~/Admin/CategoryAdmin/Edit/@Model.Id">Sửa</a>

    </div>
</form>

