@model IEnumerable<OnlineShop.Context.Category>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Danh sách danh mục </h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="table-control col-sm-12 col-md-6">
                        
                    </div>
                    <div class="table-control col-sm-12 col-md-6 text-right">
                        <a class="btn btn-success quickUpdate" href="~/Admin/CategoryAdmin/Create">
                            <i class="fas fa-fw fa-plus"></i><span>Thêm mới</span>
                        </a>
                        
                    </div>
                </div>

                <div id="dataTables_wrapper" class="dataTables_wrapper">
                    <table class="table">
                        <thead>
                            <tr>

                                <th>
                                    Tên
                                </th>
                                <th>
                                    
                                </th>
                                <th>
                                    Ảnh
                                </th>
                                <th>
                                    
                                </th>
                                <th>
                                    Thao tác
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        
                                    </td>
                                    <td>
                                        @{
                                            string ImagePath = "~/Content/images/" + item.Avatar;
                                        }
                                        <img src="@Url.Content(ImagePath)" width="100" class="img-thumbnail" />
                                    </td>
                                    <td>
                                        
                                    </td>

                                    <td>
                                        <a title="Xem chi tiết" class="btn btn-sm btn-outline-secondary btn-hover-success quickUpdate" href="~/Admin/CategoryAdmin/Details/@item.Id">
                                            <i class="fas fa-fw fa-info"></i>
                                        </a>
                                        <a title="Sửa" class="btn btn-sm btn-outline-secondary btn-hover-info quickUpdate" href="~/Admin/CategoryAdmin/Edit/@item.Id">
                                            <i class="fas fa-fw fa-edit"></i>
                                        </a>
                                        <a title="Xóa" class="btn btn-sm btn-outline-secondary btn-hover-danger quickDelete" href="~/Admin/CategoryAdmin/Delete/@item.Id">
                                            <i class="fas fa-fw fa-trash-alt"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                   
                </div>
            </div>
        </div>
    </div>
</div>


