@{
    ViewBag.Title = "Success";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .button {
        background-color: red;
        border: none;
        color: white;
        padding: 10px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
</style>
<div align="center">
    <img width="100" align="middle" src="~/Content/images/icon success.png" />
    <h1 style="color:forestgreen;text-align:center;font-size:24px; font-weight:600;padding:10px ">Đặt hàng thành công</h1>
    <h2 style="text-align:center">Đơn hàng của quý khách đã được đặt thành công</h2>
    <h2 style="text-align:center">Cảm ơn quý khách đã tin tưởng Trường Hoa</h2>
    <br />
    <br />
    <a class="button" href="~/Home/Index"> Trở lại trang chủ</a>
</div>



